@page "/"

<PageTitle>Home</PageTitle>

<head>
    <link rel="stylesheet" href="myStyleHome.css">
</head>

<h1>Haley's Website!</h1>

<p>
    Welcome to my new website!
    Hope you'll like it, as much as I do!
</p>

<img src="img/stickmanworking.png" alt="stickman working on his laptop">
